<!DOCTYPE html>
<html>
  <head>
    <title>The Emacsmirror! {{ page.title }}</title>
    <meta charset="utf-8">
    <meta name="author"      content="Jonas Bernoulli <jonas@bernoul.li>">
    <meta name="description" content="The Emacsmirror">
    <meta name="keywords"    content="emacs, git, package">
    <link rel="icon"
          href="https://emacsmirror.org/assets/emacsmirror.ico">
    <link rel="stylesheet"
          type="text/css"
          href="https://emacsmirror.org/assets/page.css">
    <script src="https://emacsmirror.org/assets/js/count.js" async
            data-goatcounter="https://emacsmirror-net.goatcounter.com/count">
    </script>
  </head>

  <body>
    <nav>
      <a href="https://emacsmirror.org">Home</a>
      <a href="https://docs.emacsmirror.org">Documentation</a>
      <a href="https://stats.emacsmirror.org">Statistics</a>
      <a href="https://github.com/emacsmirror">Github</a>
      <a href="https://magit.vc/donate/">Donate</a>
      <a href="https://emacsair.me">Blog</a>
      <a href="https://fosstodon.org/@tarsius">Mastodon</a>
    </nav>
    <header>
    {% if page.title %}
      <h1>{{ page.title }}</h1>
    {% else %}
      <h1>The Emacsmirror</h1>
    {% endif %}
    </header>
{{ content }}
  </body>
</html>
